.input-top {
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.input-bottom {
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}

.icon {
    color: #2F93FF;
    background-color: #282F35;
    border-style: solid;
    border-width: 5px;
    border-color: #2F93FF;
    padding: 8px;
    border-radius: 1em;
}